extends layout

block content

  h2 Text Your Commute SMS Center
  ul
    li
      a(href="/users") Users
    li
      a(href="/results") Results
    li
      a(href="/messageLog") Message Log
    li
      a(href="/tester") Test Survey
    li
      a(href="/notification") Send Notification
