extends layout

block content

  h2 Text Your Commute SMS Center
  ul
    li
      a(href="/results/all") Results
    li
      a(href="/messageLog") Message Log
    li
      a(href="/tester") Test Survey
